CONFIG_ARM=y
CONFIG_SKIP_LOWLEVEL_INIT=y
CONFIG_SPL_SYS_DCACHE_OFF=y
CONFIG_COUNTER_FREQUENCY=19200000
CONFIG_POSITION_INDEPENDENT=y
CONFIG_SYS_INIT_SP_BSS_OFFSET=0x180000
CONFIG_ARCH_SNAPDRAGON=y
CONFIG_NR_DRAM_BANKS=24
CONFIG_DEFAULT_DEVICE_TREE="qcom/monaco-arduino-monza"
CONFIG_SPL_SYS_MALLOC_F_LEN=0x4000
# CONFIG_SPL_MMC is not set
CONFIG_SPL_SERIAL=y
CONFIG_SPL_STACK=0x1469a000
CONFIG_SPL_TEXT_BASE=0x14680000
CONFIG_SPL_BSS_START_ADDR=0x14690000
CONFIG_SPL_BSS_MAX_SIZE=0x2000
CONFIG_SYS_LOAD_ADDR=0xa0000000
CONFIG_SPL_SIZE_LIMIT=0x10000
CONFIG_SPL=y
CONFIG_DEBUG_UART_BASE=0x99c000
CONFIG_DEBUG_UART_CLOCK=14745600
CONFIG_DEBUG_UART=y
CONFIG_FIT=y
CONFIG_SPL_LOAD_FIT=y
CONFIG_SPL_LOAD_FIT_ADDRESS=0xaf000000
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_SPL_MAX_SIZE=0x10000
CONFIG_SPL_REMAKE_ELF=y
CONFIG_SPL_RAM_DEVICE=y
CONFIG_SPL_ATF=y
CONFIG_SPL_ATF_LOAD_IMAGE_V2=y
CONFIG_SPL_ATF_NO_PLATFORM_PARAM=y
CONFIG_MISC=y
CONFIG_QCOM_GENI=y
CONFIG_DEBUG_UART_MSM_GENI=y
CONFIG_DEBUG_UART_SKIP_INIT=y
CONFIG_MSM_GENI_SERIAL=y
